/*

=================== General =================== 

*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
	font-family: "Amatic SC", cursive;
}

header{
    width: 100%;
}

h1{
    color:white
}

fieldset {
    border: none;
}

hr{
    border: 1px solid white;
    margin-left: 0;
    width: 90%;
}

p{
    margin-bottom: 0px;
}

ul{
    padding: 0;
}


.section-container {
    position: relative;
}

.section-content {
    position: absolute;
    left: 3%;
    top: 15%;
    color: white;
}

.no-padding {
    padding: 0;
}

.parag{
    font-family: 'Josefin Sans', sans-serif;
}

.carousel-parag{
    font-family: 'Josefin Sans', sans-serif;
}

.link{
    color: goldenrod
}


/* 

=================== Responsive Styles =================== 

*/

@media (min-width: 320px) {
    legend {
        font-size: calc(1.275rem + 0.3vw);
    }
    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    h2,
    .h2 {
        font-size: calc(1.325rem + 0.9vw);
        padding: calc(0.125rem + 0.4vw) calc(1.125rem + 0.4vw);
    }
    h3,
    .h3 {
        font-size: calc(1.2rem + 0.9vw);
        padding: calc(0.125rem + 0.4vw) calc(1.125rem + 0.4vw);
    }
    h4,
    .h4 {
        font-size: calc(1.175rem + 0.6vw);
    }
    
    h5,
    .h5 {
        font-size: calc(0.25rem + 0.8vw);
        line-height: calc(0.4rem + 2vw);
    }
    
    .display-1 {
        font-size: calc(2.325rem + 5.7vw);
    }
    .display-2 {
        font-size: calc(1.675rem + 5.1vw);
    }
    .display-3 {
        font-size: calc(1.575rem + 3.9vw);
    }
    .display-4 {
        font-size: calc(1.375rem + 2.7vw);
    }
    
    .carousel-display-4{
        font-size: calc(2rem + 2vw);
        margin-bottom: calc(1rem + 2vw);
    }
    
    .parag {
        font-size: calc(0.8rem + 0.5vw);
        line-height: calc(1rem + 1.5vw);
    }
    
    .carousel-parag {
        font-size: calc(0.5rem + 0.8vw);
        line-height: calc(1rem + 1.5vw);
    }
    
    .close {
        font-size: calc(1.275rem + 0.3vw);
    }
    
    .contact-logo {
        width: calc(1.7rem + 1.5vw);
        height: calc(1.7rem + 1.5vw);
    }
    
    #home-profile-photo{
        margin-top: calc(1.6rem + 1.5vw);
        height: 25rem;
    }
    
    #carouselExampleCaptions{
        width: calc(10rem + 60vw);
    }
    
    .carousel img{
        height: calc(10rem + 50vw);
        width: auto;
    }
    
    #playlist-iframe{
        max-height: 30rem;
        width: calc(5rem + 30vw);
        height: calc(1rem + 25vw);
    }

}


/* 

=================== Navigation Bar =================== 

*/


.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 20;
}

nav.black {
    background: #e2dce2;
}

nav ul{
    background: rgba(0,0,0,0);
    list-style: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid #fff;
    transition: 0.3s;
}

nav.black ul {
    background: #e2dce2;
    border-bottom: none;
}

nav ul li{
    position: relative;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: .2s;
}

nav.black ul li a {
    color: #000;
}

nav ul li a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 4px solid #db7acc;
}

nav.black ul li a:hover {
    color: #fff;
}

/*nav ul li a:active {
    background: #686868;
    border-radius: 6px;
    color: #fff;
}*/

nav.logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
}

nav.black .logo {
    color: #fff;
}

.active {
    border-bottom: 4px solid #db7acc;
}

.menu-icon {
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #000;
    display: none;
}

@media(max-width: 786px) {
    .logo {
        position: fixed;
        top:0;
        margin-top: 16px;
    }
    
    nav ul {
        max-height: 0px;
        background: rgba(0,0,0,0);
    }
    
    nav .black ul {
        background: #e2dce2;
    }
    
    .showing{
        max-height: 30em;
    }
    
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    
    .menu-icon{
        display: block;
    }
}

/*

=================== Home =================== 

*/
#home-background {
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-home.jpg);
    background-size: cover;
}

#home-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.5;
}

#home-quote{
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
}

#home-hr{
    margin-left: 0;
    margin-right: 0;
}

#home-content{
    padding-right: 0;
    padding-left: 0;
}

#home-contact{
    margin-left: 1rem;
}

#contact-name{
    margin-right: 1rem;
}

#home-profile-photo{
    padding: 0px;
    max-height: 25rem;
    text-align: center;
}


#home-profile-desc {
    
    margin-top: 2rem;
    max-height: 20rem;
    text-align: center;
}

.contact-logo-container {
    margin-top: 1rem;
}

#profile-img {
    max-width:80%;
    max-height:100%;
}

#wordle {
    max-width:200%;
    max-height:200%;
}
/*

=================== About =================== 

*/

#about-background {
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-about.jpg);
    background-size: cover;
}

#about-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.7;
}

#about-content{
    text-align: left;
    padding-top: 3rem;
    padding-right: 1.5rem;
}

#about-text-container{
    padding-right: 3rem;
}

#about-text-prelog{
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

#about-text-main{
    line-height: 
}
/*

=================== Research =================== 

*/

#research-content{
}

#research-topic{
    margin-top: 5rem;
}

.research-topic-box{
    text-align: center;
    border: px solid white;
    margin-right: 2rem;
    padding: 1rem;
    background: rgb(155,89,44,0.9);
}

#research-desc{
    margin-top: 2rem;
}

#research-background {
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-research.jpg);
    background-size: cover;
}

#research-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.5;
}

/*

=================== Project =================== 

*/


#project-background {
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-projects.jpg);
    background-size: cover;
}

#project-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.7;
}

#carouselExampleCaptions{
    max-height: 60vh;
    margin: 0 auto;
}

.carousel-inner > .item {
   height: 20rem;
}

#project-content {
    margin-top: 5rem;
    width: 100%;
    height: auto;
}

.carousel img {
    max-width: 20rem;
    max-height: 40rem;
    opacity: 0;
}

.active {
    border-bottom: none;
}

/*

=================== Others =================== 

*/

#others-title{
    margin-bottom: 2rem;
}
#others-background{
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-football.jpg);
    background-size: cover;
}

#others-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.5;
}

#others-values{
    margin-top: 2.5rem;
}



/*

=================== Music =================== 

*/

#music-background{
    position: relative;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    background: url(../img/img-music.jpeg);
    background-size: cover;
}

#music-background:after {
    content: "";
    position: absolute;
	width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background-color:rgba(0,0,0);
    opacity: 0.5;
}

#music-playlist{
    margin-top: 3rem;
    margin-left: 3rem;
}

/*

=================== Footer =================== 

*/
footer {
  padding: 10vh 0;
  text-align: center;
  background: black;
  color: white;
}

.carousel-caption {
    top: 0.5vh;
}
